Abrir Archivo para separar tags y dejarlo con id:

In [1]:
# Importar librerías
import csv
import pandas as pd
import json
import numpy as np
import ast

In [2]:
#Abrir archivo .csv a dataframe
df = pd.read_csv('First_Game_desTag.csv', encoding = "latin-1")

In [3]:
# Mostrar dataframe
df

                                                    tags      id
0      ['Strategy', 'Action', 'Indie', 'Casual', 'Sim...  761140
1      ['Strategy', 'Action', 'Indie', 'Casual', 'Sim...  761140
2      ['Strategy', 'Action', 'Indie', 'Casual', 'Sim...  761140
3      ['Strategy', 'Action', 'Indie', 'Casual', 'Sim...  761140
4      ['Strategy', 'Action', 'Indie', 'Casual', 'Sim...  761140
...                                                  ...     ...
74832                  ['Indie', 'Simulation', 'Racing']  610660
74833                  ['Indie', 'Simulation', 'Racing']  610660
74834  ['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...  658870
74835  ['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...  658870
74836  ['Early Access', 'Adventure', 'Indie', 'Action...  681550

[74837 rows x 2 columns]

In [4]:
# Información data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74837 entries, 0 to 74836
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tags    74837 non-null  object
 1   id      74837 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [5]:
# Convierte la columna a tipo int32, baja la RAM
df["id"] = df["id"].astype("int32")

In [6]:
# Revisar data de nuevo
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74837 entries, 0 to 74836
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tags    74837 non-null  object
 1   id      74837 non-null  int32
dtypes: int32(1), object(1)
memory usage: 877.1+ KB

In [7]:
# Pasar a una lista
df["tags"] = df["tags"].apply(lambda x: ast.literal_eval(x))

In [14]:
# Explotar columna de tags
df = df.explode("tags").reset_index(drop=True)

In [15]:
# Revisar data   448168 rows x 2 columns
df

              tags      id
0         Strategy  761140
1           Action  761140
2            Indie  761140
3           Casual  761140
4       Simulation  761140
...            ...     ...
448163   Adventure  681550
448164       Indie  681550
448165      Action  681550
448166  Simulation  681550
448167          VR  681550

[448168 rows x 2 columns]

In [ ]:
#Guardamos nueva data en un archivo .csv
df.to_csv('First_Game_desanidadoTag.csv', index=False)