Abrir Archivo para separar tags:

In [172]:
# Importar librerías
import csv
import pandas as pd
import json
import numpy as np
import ast

In [173]:
#Abrir archivo .csv a dataframe
df = pd.read_csv('First_Game_tags.csv', encoding = "latin-1")

In [174]:
# Ver dataframe
df

,title,tags,developer,id
0,Lost Summoner Kitty,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",Kotoshiro,761140.0
1,Lost Summoner Kitty,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",Kotoshiro,761140.0
2,Lost Summoner Kitty,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",Kotoshiro,761140.0
3,Lost Summoner Kitty,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",Kotoshiro,761140.0
4,Lost Summoner Kitty,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",Kotoshiro,761140.0
...,...,...,...,...
74832,Russian Roads,"['Indie', 'Simulation', 'Racing']",Laush Dmitriy Sergeevich,610660.0
74833,Russian Roads,"['Indie', 'Simulation', 'Racing']",Laush Dmitriy Sergeevich,610660.0
74834,EXIT 2 - Directions,"['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...","xropi,stev3ns",658870.0
74835,EXIT 2 - Directions,"['Indie', 'Casual', 'Puzzle', 'Singleplayer', ...","xropi,stev3ns",658870.0
74836,NaN,"['Early Access', 'Adventure', 'Indie', 'Action...",NaN,681550.0

In [175]:
# Info de dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74837 entries, 0 to 74836
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      72786 non-null  object
 1   tags       74652 non-null  object
 2   developer  71358 non-null  object
 3   id         74834 non-null  float64
dtypes: float64(1), object(3)
memory usage: 2.3+ MB

In [176]:
# Cuántas columnas con nulos
df.isnull().sum()

title        2051
tags          185
developer    3479
id              3
dtype: int64

In [177]:
# Cambia los valores NaN por cero
df.fillna(0, inplace=True)

In [178]:
#Convertir la columna tags a string
df["tags"] = df["tags"].astype(str)

In [182]:
# Convierte la columna a tipo int32
df["id"] = df["id"].astype("int32")

In [186]:
#Crear una nueva dataframe con tags y id sin duplicados
df_tags = df[["tags", "id"]]

In [187]:
#Guardamos nueva data en un archivo .csv
df_tags.to_csv('First_Game_desTag.csv', index=False)